<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<body>
  <div class="container">
    <h4>★ ★Welcome To My Kitchen★ ★</h4>

    <div>
      <form>
        <div class="form-group">
          <label for="name">Email:</label>
          <input type="email" name="email" class="form-control" ngModel>
        </div>
        <div class="form-group">
          <label for="name">Password:</label>
          <input type="password" name="Password" class="form-control" ngModel>
        </div>

        <hr>
        <button class="button" type="submit" (click)="home()">Login</button><br>
        <button class="button" type="submit">Register</button>


      </form>
    </div>
  </div>
</body>